
body{
    background-image: url(images/pattern-background-desktop.svg);
    background-origin: border-box;
    background-repeat: no-repeat; 
}

.box-principal{
    background-color:  rgba(221, 219, 219, 0.8); ;
    position: relative;
    top: 18px;
    width: 450px;
    left: 430px;
    border-radius: 20px;
    height: 650px;
}
#img-head{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box-principal h1{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-top: 40px;
}

.box-principal h2{
    text-align: center;
    font-size: 15px;
    color: rgb(129, 120, 120);
}

.box-principal h3{
    font-size: 24px;
    left: 95px;
    position: absolute;
    font-weight: bold;

}

.box-principal h4{
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 95px;
    color: rgb(129, 120, 120);
}

.anuncio{
    display: inline-flex;
    background-color: rgb(246, 251, 251);
    border-radius: 20px;
    height: 85px;
    width: 90%;
    position: absolute;
    left: 23px;
    top: 400px;
}

.anuncio a{
    position: absolute;
    left: 320px;
    top: 32px;
}

#img-simbol{
    position: absolute;
    top: 418px;
    z-index: 3;
    left: 40px;
}

#btn-proceed{
    position: absolute;
    top: 515px;
    left: 40px;
    padding: 12px;
    width: 85%;
    font-weight: bold;
    border-radius: 15px;
    background-color: #23199d;
}

#btn-cancel{
    position: absolute;
    top: 575px;
    left: 40px;
    padding: 12px;
    width: 85%;
    font-weight: bold;
    border-radius: 15px;
    background-color: #fff;
    border-color: #fff;
    color: #23199d;
}